
<div class="span4 planet">
  <h3 class="<%= name %>" data-longitude="<%= wx.longitude %>" data-latitude="<%= wx.latitude %>"><%= displayName %></h3>
  <p class="temperature"><%= number_with_precision (wx.maximum_temperature-273.15), :precision => 1 %><sup>&deg;C</sup></p>
  <p class="temperature-description"><%= wx.description.titleize %></p>
  <p class="location">
<% if name=="mars" %>
  <%= link_to wx.name, "http://mars.jpl.nasa.gov/msl/mission/whereistherovernow/", :target => "_blank" %>
<% else %>
  <%= link_to wx.name, "##{modal}", "data-toggle" => 'modal' %>
<% end %>
  </p>
  <p class="wind-speed"><% if not wx.wind_speed.nil? %><%= number_with_precision wx.wind_speed/1000*3600, :precision => 1 %><% else %>0.0<% end %> km/h</p>
  <%= link_to retina_image_tag('nasa-logo.png', :size => "75x64", :alt => "NASA", :title => "NASA"), 'http://spaceappschallenge.org' %>
  <p class="data-feed"><%= link_to 'Data feed', wx.url, :target => '_blank' %></p>
</div>
