<div class="header">
	<%= retina_image_tag 'mearth.png', :size => "186x220", :alt => "Merth - Where on Earth is the temperature similar to Mars?", :title => "Merth - Where on Earth is the temperature similar to Mars?" %>
	<h1>Mearth</h1>
	<h2>Where on Earth is the temperature similar to Mars?</h2>
	<p>A 2013 NASA <a href="http://spaceappschallenge.org/project/mearth/">SpaceApps Challenge</a> comparing the temperature, pressure &amp; wind speed on Mars and tries to match it with somewhere on Earth.</p>
	<!-- <p>
	  <button class="btn btn-primary" type="button">My location</button>
	  <button class="btn" type="button">Choose based on temperature</button>
	</p> -->
</div>
<div class="row-fluid">
  <div class="span4 planet">
  	<h3 class="mars">Mars</h3>
  	<p class="temperature"><%= number_with_precision (@mars_max-273), :precision => 1 %>&deg;</p>
  	<p class="temperature-description"><%= @mars_atmo %></p>
  	<p class="location"><a href="http://mars.jpl.nasa.gov/msl/mission/whereistherovernow/">Curiosity</a></p>
  	<p class="wind-speed"><%= @mars_wind_speed %> km/h</p>
  	<%= retina_image_tag 'nasa-logo.png', :size => "125x106" %>
  </div>
  <div class="span4 planet">
  	<h3 class="earth">Earth</h3>
  	<p class="temperature"><%= number_with_precision (@closest_avg-273), :precision => 1 %>&deg;</p>
  	<p class="temperature-description"><%= @closest["weather"].first["description"].titleize %></p>
  	<p class="location"><%= link_to @closest["name"], "#myModal", :"data-toggle" => 'modal' %></p>
  	<p class="wind-speed"><%= number_with_precision @closest["wind"]["speed"], :precision => 1 %> km/h</p>
  	<%= retina_image_tag 'nasa-logo.png', :size => "125x106" %>
  </div>
  <div class="span4 planet">
  	<h3 class="local">Local</h3>
  	<p class="temperature">0&deg;</p>
  	<p class="temperature-description">xxx</p>
  	<p class="location"><%= @location.city %></p>
  	<p class="wind-speed">xxx</p>
  	<%= retina_image_tag 'nasa-logo.png', :size => "125x106" %>
  </div>
</div>
<!-- Google maps modal -->
<div id="myModal" class="modal hide fade">
  <div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	<iframe width="530" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?q=<%= @closest["coord"]["lat"] %>,<%= @closest["coord"]["lon"] %>&amp;ie=UTF8&amp;t=h&amp;z=10&amp;ll=<%= @closest["coord"]["lat"] %>,<%= @closest["coord"]["lon"] %>&amp;output=embed"></iframe>
  </div>
</div>
<!-- <img src="data:image/jpeg;base64,<%# @data_uri %>"> -->
